.navbar-dark {
  background-image: linear-gradient(to right, #910D01, #472C1F, #07350c);
  min-height: 8rem;
  margin: 0 !important;
  width: 100% !important;
  overflow-x: hidden !important;
}


.navicons {
  font-size: 1.5em !important;
  vertical-align: top !important;
  color: rgb(0, 0, 0);
  opacity: 75%;
}

.navfont {
font-size: 1.5em;
color: white;
text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.brand {
  width: 100%;
  height: 100%;
  max-width: 6em;  
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
      height: auto !important;
  }
}

.brandname-1 {
  color: rgb(26, 255, 0)
}

.brandname-2 {
  color: rgb(20, 200, 249)
}